[build]
  command = "npm run build"
  publish = ".next/server"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[dev]
  command = "npm run dev"
  port = 3000
  targetPort = 3000
  autoLaunch = false

[functions.environment]
  ALCHEMY_API_KEY = "${ALCHEMY_API_KEY}"
